{% extends ('layout.html.twig') %}
 {% block title %}{{ parent() }} home{% endblock %}
{% block main %}
    <div class="marge-bottom marge1 text-white">
        <div class="row marge-bottom text-left text-white">
            <div class="marge-bottom col-md-4 offset-md-8">Date du jour : {{ date }}</div>
            <div class="marge-bottom col-md-4 offset-md-8">Paticipant : {{ user.prenom }}</div>
        </div>
        <div>
            <div class="marge-bottom row"><h4>filtrer les sorties</h4></div>
            <div></div>
        </div>

    </div>

{% endblock %}