body {
background-color: #313131;
    font-family:"Reem Kufi Regular", cursive, sans-serif;
}

footer {
    bottom: 0;
    right: 0;
    position: fixed;
}

.right{
    text-align: right;
    float: right;
}

.navbar {
    background: rgba(70, 128, 193, 0.5);
}

.marge-bottom {
    margin-bottom: 20px;
}

.marge-top {
position: relative;
    margin-top: 20px;
}

.DIV {
    background: rgba(70, 128, 193, 0.2);
}

.TRANS {
    background: rgba(70, 128, 193, 0);
}

.pied {
    top: 0;
    right: 0;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.cache{
    display:none
}

/*table*/

#table-wrapper {
    position:relative;
}
#table-scroll {
    height:300px;
    overflow:auto;
    margin-top:20px;
}
#table-wrapper table {
    width:100%;

}
#table-wrapper table * {
    background:white;
    color:black;
}
#table-wrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
}
/*end table*/
