{% extends ('layout.html.twig') %}
{% block title %}Create sortie{% endblock %}

{% block body %}
<div class="container text-white">{{ form_start(sorieForm )}}
    {{form_widget(sortieFom)}}
    {{ form_end(sorieForm) }}</div>
{% endblock %}
