<link rel="shortcut icon" href="css/image/favicon.png">
<nav class="navbar navbar-dark tete  ">

    <a class="nav-link text-light" href="{{ path('home') }}"> <img src="css/image/home-logo.jpg" width="100px"></a>
    <h3 class="text-light">Sortie.com</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link text-light" href="">Sortie<span
                            class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>