
<nav class="navbar navbar-expand-lg navbar-light ">

    <a class="nav-link " href="{{ path('home') }}"> <img src="css/image/home-logo.jpg" width="100px"></a>
    <br>
    <h3 class="text-light">Sortie.com</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse right" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-light" href="">Ville<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="">Sites<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="">Accueil<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="">Mon profil<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="">Se déconnecter<span
                            class="sr-only">(current)</span></a>
            </li>


        </ul>
    </div>
</nav>