{% extends 'layout.html.twig' %}

{% block title %}Login utilisateur | {{ parent() }}{% endblock %}

{% block main %}
   <div class="Div marge1 marge-bottom">
       <h1>Login utilisateur</h1>
       <form  method="post">
          <div class="marge-bottom"> <label for="username">Email :</label></div>
           <!--Symfony impose le nom _username pour gérer le mécanisme de login -->
          <div class="marge-bottom"> <input type="text" name="_username" id="username"></div>

           <div class="marge-bottom"><label for="password">Password :</label></div>
           <!--Symfony impose le nom _password pour gérer le mécanisme de login -->
           <div class="marge-bottom"><input type="password" name="_password" id="password"></div>
           <div class="checkbox mb-3">
               <label>
                   <input type="checkbox" name="_remember_me"> Se souvenir de moi
               </label>
           </div>

          <div class="marge-bottom"> <button type="submit">Valider</button></div>

       </form>
   </div>

{% endblock %}