{% extends ('layout.html.twig') %}
 {%block title%}{{ parent() }} home{% endblock %}
{% block main %}
<div class="marge-top marge-bottom">
 {{ form_start(userForm) }}
 {{ form_widget(userForm.nom) }}
 {{ form_end(userForm) }}
</div>
{% endblock %}